.logo
  %h1 #{FakeApp::TITLES.sample}
.navi
  %a{:class=>"bttn bttn-primary", :href=>"#"} #{Thesaurus::VIEW.sample.capitalize} Map
  %a{:class=>"bttn bttn-primary", :href=>"#"} #{Thesaurus::CONTACT.sample.capitalize}
  %a{:class=>"bttn bttn-info", :href=>"#"} #{Thesaurus::ABOUT.sample.capitalize}

