!!! 5
%html
  %head
    %title 
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "/stylesheet.css"}
  %body
    #wrap
      %header
        %span header
      .container-fluid
        =yield
        #push
    %footer
      %span footer
    %script{:src => "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{:type => "text/javascript", :src  => "/js/bootstrap.js"}

      