#map
  :javascript
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer("http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png", {
      attribution: "&copy; OpenCycleMap",
      maxZoom: 18
    }).addTo(map);
