@import "css/bootstrap.css";

$btncolor1: getRandomColor();
$btncolor2: getRandomColor();
$btncolor3: getRandomColor();

$tinyspace: 2px;
$smallspace: 5px;
$mediumspace: 10px;
$largespace: 20px;
$hugespace: 40px;

@mixin grey_box_shadow {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
}

body {
  background: getRandomColor();
}

.bttn {
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: $mediumspace $largespace;
  margin-bottom: $mediumspace;
  border-radius: getRandomBorderRadius();
}

.bttn-primary {
  color: white;
  background: $btncolor1;
  &:hover{
    background: $btncolor2;
    text-decoration: none;
  }
  &:visited {
    color: $btncolor3;
  }
}

.bttn-info {
  color: $btncolor1;
  background: white;
  &:hover{
    background: $btncolor2;
    text-decoration: none;
  }
  &:visited {
    color: $btncolor3;
  }
}

.bttn-back {
  display: inline;
  color: $btncolor1;
  background: white;
  &:hover{
    background: $btncolor2;
    text-decoration: none;
  }
  &:visited {
    color: $btncolor3;
  }
}

.logo {
  text-align: center;
  font-family: #{font};
}

h1 {
  padding: $largespace;
  color: $btncolor1;
  font-size: getRandomH1Size();
}

footer, header {
  @include grey_box_shadow;
  background: $btncolor3;
  background-image: url(getRandomPattern());
  padding: $largespace;
  color: white;
}

header {
  margin-left: -$largespace;
  margin-right: -$largespace;
}

#map { height: getRandomMapHeight(); }

html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
