@import "css/bootstrap.css";

$btncolor1: getRandomColor();
$btncolor2: getRandomColor();
$btncolor3: getRandomColor();

$tinyspace: 2px;
$smallspace: 5px;
$mediumspace: 10px;
$largespace: 20px;
$hugespace: 40px;

body {
  background: getRandomColor();
}

.bttn {
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: $mediumspace $largespace;
  margin-bottom: $mediumspace;
}

.bttn-primary {
  color: white;
  background: $btncolor1;
  &:hover{
    background: $btncolor2;
    text-decoration: none;
  }
  &:visited {
    color: $btncolor3;
  }
}

.bttn-info {
  color: $btncolor1;
  background: white;
  &:hover{
    background: $btncolor2;
    text-decoration: none;
  }
  &:visited {
    color: $btncolor3;
  }
}

.bttn-back {
  display: inline;
  color: $btncolor1;
  background: white;
  &:hover{
    background: $btncolor2;
    text-decoration: none;
  }
  &:visited {
    color: $btncolor3;
  }
}

.logo {
  text-align: center;
  font-family: getRandomFont();
}

h1 {
  padding: $largespace;
  color: $btncolor1;
  font-size: getRandomPixels();
}

footer, header {
  background: $btncolor3;
  background-image: url(getRandomPattern());
  padding: $largespace;
  color: white;
}

header {
  margin-left: -$largespace;
  margin-right: -$largespace;
}

#map { height: 300px; }